<html lang="en">
<head>
<title>산들바람 진로멘토링</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table border="0" cellspacing="0" cellpadding="0" width="700" align="center">
<!-- header -->
<tr>
	<td width="700">
		<table border="0" cellspacing="0" cellpadding="0" width="700">
		<tr>
			<td>
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td valign="bottom" style="font-size:0;"><a target="_blank" title="산들바람 원격진로멘토링" href="${url}"><img border="0" src="${imgUrl}images/ems/img_mentor_h1.gif" alt="산들바람bl" /></a></td>
					</tr>
				</table>
			</td>
		</tr>
		</table>
	</td>
</tr>
<!-- //header -->
<!-- point -->
<tr>
	<td>
		<table border="0" cellspacing="0" cellpadding="0" width="700">
		<tr>
			<td style="font-size:0;">
				<img src="${imgUrl}images/ems/img_mentor_h29.gif" alt="산들바람 관리자 반려를 알려드립니다." />
			</td>
		</tr>
		</table>
	</td>
</tr>
<!-- //point -->
<!-- content -->
<tr>
    <td>
		<table border="0" cellspacing="0" cellpadding="0" width="700">
			<tr>
				<td colspan="3" style="font-size:0;">
					<img src="${imgUrl}images/ems/img_mentor_info9-1.gif" alt="관리자가 하기와 같은 사유로 요청 주신 내용을 반려하였습니다. 확인 후, 다시 승인 요청 주시면 감사 드립니다." />
				</td>
			</tr>
			<tr>
				<td>
					<table border="0" cellspacing="0" cellpadding="0" width="700">
						<tr>
							<td width="212" style="font-size:0;">
								<img src="${imgUrl}images/ems/img_mentor_request1.gif" alt="요청내용">
							</td>
							<td width="422" style="font-size:14px;font-weight:bold;color:#f7475e;line-height:28px;">
							    #if ( "$!member.id" != "" )
								${member.id} ${member.type}
								#elseif ( "$!lecture.name" != "" )
								${lecture.name} ${lecture.type}
								#end
							</td>
							<td width="66" style="font-size:0;">
								<img src="${imgUrl}images/ems/img_mentor_empty5.gif" alt="요청내용">
							</td>
						</tr>

						<tr>
							<td width="212" style="font-size:0;">
								<img src="${imgUrl}images/ems/img_mentor_return.gif" alt="반려사유">
							</td>
							<td width="422" style="font-size:14px;line-height:28px;">
							    #if ( "$!member.cause" != "" )
								${member.cause}
								#elseif ( "$!lecture.cause" != "" )
                                ${lecture.cause}
								#end
							</td>
							<td width="66" style="font-size:0;">
								<img src="${imgUrl}images/ems/img_mentor_empty6.gif" alt="반려사유">
							</td>
						</tr>
						<tr>
							<td colspan="3" style="font-size:0;">
								<img src="${imgUrl}images/ems/img_mentor_info9-2.gif" alt="멘토회원은 관리자의 승인 후 서비스를 이용할 수 있습니다. 신청 내용 수정 후 재 승인을 원하시는 경우 아래 링크를 클릭해주세요." />
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td>
		<table border="0" cellspacing="0" cellpadding="0" width="700">
			<tr>
				<td width="133" style="font-size:0;">
					<img src="${imgUrl}images/ems/img_mentor_link.gif" alt="링크" />
				</td>
				<td width="501" style="background:#fafafa;">
					<span style="display:inline-block;padding-left:1px;background:#fafafa;font-size:14px;line-height:100%;">
					<a href="${url}lecture/lectureState/lectureDetailView.do?lectSer=${lecture.lectSer}&lectTims=${lecture.lectTims}&schdSeq=${lecture.schdSeq}" style="background:#fafafa;text-decoration:underline;color:#f7475e;" target="_blank">수업정보 수정</a>
					</span>
				</td>
				<td width="66" style="font-size:0;">
					<a target="_blank" href="${url}"><img src="${imgUrl}images/ems/img_mentor_empty7.gif" alt="링크" /></a>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="font-size:0;">
					<img src="${imgUrl}images/ems/img_mentor_info9-3.gif" alt="반드시 위의 URL을 통해 가입신청서를 수정해주시기 바랍니다." />
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td height="43" align="center" valign="bottom" style="font-size:0;">
	<table border="0" cellspacing="0" cellpadding="0" width="700">
		<tr>
			<td colspan="3" style="font-size:0;">
				<img src="${imgUrl}images/ems/img_mentor_info9-4.gif" alt="자세한 내용은 서비스 로그인 후, ‘마이페이지’에서 확인 가능합니다." />
			</td>
		</tr>
		<tr>
			<td style="font-size:0;">
				<img src="${imgUrl}images/ems/img_mentor_empty1.gif" alt="" />
			</td>
			<td align="center" valign="bottom" style="font-size:0;">
				<a href="${url}" target="_blank"><img src="${imgUrl}images/ems/btn_mentor_sandlewind.gif" alt="산들바람 멘토 사이트 바로가기"></a>
			</td>
			<td style="font-size:0;">
				<img src="${imgUrl}images/ems/img_mentor_empty2.gif" alt="" />
			</td>
		</tr>
		<tr>
			<td colspan="3" style="font-size:0;">
				<img src="${imgUrl}images/ems/img_mentor_empty3.gif" alt="" />
			</td>
		</tr>
	</table>
	</td>
</tr>
<!-- // content -->
<!-- footer -->
<tr>
	<td>
		<table border="0" cellspacing="0" cellpadding="0" style="border:1px solid #dfdfdf;font:normal 12px/16px '돋움', dotum, sans-serif;background:#fafafa;">
		<tr>
			<td style="padding:19px 0 21px 19px;color:#999;">
				본 메일은 발신전용 메일입니다. 이용관련 문의는 홈페이지의 <a href="#" style="color:#4764c0;">[문의하기]</a>를 이용해주세요.
			</td>
		</tr>
		<tr>
			<td width="698">
				<img src="${imgUrl}images/ems/img_footer_bg.gif" alt="주소:세종특별자치시 시청대로 370 세종국책연구단지 사회정책동 한국직업능력개발원 커리어넷 운영:한국직업능력개발원 진로교육센터 지원:교육부 COPYRIGHTS KRIVET ALL RIGHTS RESERVED." />
         	</td>
		</tr>
		</table>
	</td>
</tr>
<!-- //footer -->
</table>
</body>
</html>