<html>
    <body>
        <h3>Hi Adrian, you have a new suggested podcast!</h3>
        <p>
            From - ${user.username} / ${user.email} 
        </p>
        <h3>
            Podcast metadataline 
        </h3>
        <p>
            ${user.username} / ${user.email} 
        </p>
        <h3>
            With the message
        </h3>
        <p>
            ${user.username} / ${user.email} 
        </p>
    </body>

</html>